<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="interceptor" class="org.springframework.ws.soap.security.xwss.XwsSecurityInterceptor">
        <property name="policyConfiguration"
                  value="classpath:org/springframework/ws/soap/security/xwss/requireSignature-config.xml"/>
        <property name="callbackHandlers">
            <list>
                <ref bean="keyStoreHandler"/>
                <ref bean="acegiHandler"/>
            </list>
        </property>
    </bean>

    <bean id="acegiHandler"
          class="org.springframework.ws.soap.security.xwss.callback.acegi.AcegiCertificateValidationCallbackHandler">
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>

    <bean id="authenticationManager" class="org.acegisecurity.MockAuthenticationManager"/>

    <bean id="keyStoreHandler" class="org.springframework.ws.soap.security.xwss.callback.KeyStoreCallbackHandler">
        <property name="privateKeyPassword" value="password"/>
        <property name="keyStore" ref="keyStore"/>
        <property name="defaultAlias" value="alias"/>
    </bean>


    <bean id="keyStore" class="org.springframework.ws.soap.security.support.KeyStoreFactoryBean">
        <property name="password" value="password"/>
        <property name="location" value="classpath:org/springframework/ws/soap/security/xwss/test-keystore.jks"/>
    </bean>
    <!--

        <bean id="trustStore" class="org.springframework.ws.soap.security.support.KeyStoreFactoryBean">
            <property name="location" value="classpath:org/springframework/ws/soap/security/xwss/test-truststore.jks"/>
            <property name="password" value="changeit"/>
        </bean>
    -->

</beans>