*#
#~

*.jar
*.hsp

.attach_pid*
.classpath
.factorypath
.git-hooks/
.gradle
.metadata
.project
.recommenders
.settings
.springBeans
.sts4-cache
.vscode

bin
build
data
out

!/**/src/**/bin
!/**/src/**/build

build.log
