<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <description>Spring Web Services Airline sample application</description>
    <display-name>Spring-WS Airline</display-name>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>airline.root</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:org/springframework/ws/samples/airline/dao/hibernate/applicationContext-hibernate.xml
            classpath:org/springframework/ws/samples/airline/service/applicationContext.xml
            classpath:org/springframework/ws/samples/airline/ws/applicationContext-ws.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>airline</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>airline</servlet-name>
        <url-pattern>/Airline</url-pattern>
    </servlet-mapping>
</web-app>